@import 'fonts'

$white: #F5F5F5
$black: #333333
$green: #C0F7C1
$pink: #F7BAD2
$teal: #BDFFF3
$red: #F2937B
$yellow: #FFEC6A

*:not(input):not(textarea),
*:not(input):not(textarea)::after,
*:not(input):not(textarea)::before
    -webkit-user-select: none
    user-select: none
    cursor: default

input, button, textarea, :focus
    outline: none

body
    font-family: 'Raleway', sans-serif
    text-align: center
    background-color: $black
    color: $black

    &.down
        #content
            background-color: $red
        #up-text, #footer-down
            display: none

    &.up
        #content
            background-color: rgba($green, 0.8)
        #down-text, #footer-up
            display: none

#content
    margin-top: -7%
    padding: 7%
    border-bottom-left-radius: 5px
    border-bottom-right-radius: 5px
    display: inline-block

#last-session
    display: none

footer
    margin-top: 10px

    img
        opacity: 0.8
        cursor: pointer
        transition: .4s ease-out

        &:hover
            opacity: 1

h1
    font-family: 'Lato', sans-serif