@import 'fonts'

$white: #F5F5F5
$black: #333333
$green: #C0F7C1
$pink: #F7BAD2
$teal: #BDFFF3
$red: #F2937B
$yellow: #FFEC6A

*:not(input):not(textarea),
*:not(input):not(textarea)::after,
*:not(input):not(textarea)::before
    -webkit-user-select: none
    user-select: none
    cursor: default

input, button, textarea, :focus
    outline: none

#content
    margin-top: 2px
    margin-bottom: 9px
    width: 85%
    padding: 7%
    border-radius: 10px
    display: inline-block

    div
        display: none
        transition: .2s ease-in-out

body
    padding: 0
    font-family: 'Raleway', sans-serif
    text-align: center
    background-color: $black
    color: $black

    &.stats
        #content
            background-color: $white
            #stats-text
                display: block
        footer, #header-bars
            display: none

    &.config
        #content
            background-color: $teal
            #config-text
                display: block
        footer, #header-down, #header-pie, #header-bars
            display: none
            visibility: hidden

    &.down
        #content
            background-color: $red
            #down-text
                display: block
        header, #footer-down
            display: none

    &.up
        #content
            background-color: rgba($green, 0.8)
            #up-text
                display: block
        header, #footer-up
            display: none

#last-session
    display: none

#stats-canvas
    width: 200px
    height: 100px

#config-textarea
    width: 100%

#config-text
    text-align: left

header, footer
    text-align: left

    span
        &:first-child
            float: left
        &:nth-child(2)
            float: right

    img
        opacity: 0.8
        cursor: pointer
        transition: .4s ease-out

        &:hover
            opacity: 1

h1
    font-family: 'Lato', sans-serif

textarea
    resize: none